<p id="notice"><%= notice %></p>

<h1>Listing Movie Showtimes</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Movie Room</th>
      <th>Start time</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_showtimes.each do |movie_showtime| %>
      <tr>
        <td><%= Movie.find(movie_showtime.movie_id).name %></td>
        <td><%= movie_showtime.movie_room_id %></td>
        <td><%= movie_showtime.start_time %></td>
        <td><%= link_to 'Show', movie_showtime %></td>
        <td><%= link_to 'Edit', edit_movie_showtime_path(movie_showtime) %></td>
        <td><%= link_to 'Destroy', movie_showtime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie showtime', new_movie_showtime_path %>
